p {
  color: rgb(9, 177, 9);
  font-size: 30px;
}

.quote {
  font-style: italic;
}

span {
  font-size: 20px;
  margin-left: 20px;
}

.national, .world, .hands {
  margin-top: 2vh;
}

.national img {
  float: right;
  margin-right: 10vw;
}

.national p {
  float: left;
  width: 40vw;
  margin-left: 7vw;
}

.world {
  clear: both;
  padding-top: 2vh;
}

.world p {
  width: 70vw;
  margin: auto;
}

.hands img {
  float: left;
  margin-left: 7vw;
  padding-bottom: 2vh;
}

.hands p {
  float: right;
  margin-right: 10vw;
  width: 40vw;
}

