p {
  color: green;
  font-size: 30px;
}

.welcome {
  width: 70vw;
  margin: 5vh auto;
}

.quote {
  font-style: italic;
}

span {
  font-size: 20px;
  margin-left: 20px;
}

.national, .world, .hands {
  clear: both;
  margin: 10vh auto;
  padding: 10vh 0;
  width: 70vw;
}

.national img {
  float: right;
  width: 300px;
}

.national p {
  margin-top: 5vh;
  float: left;
  width: 30rem;
}

.world {
  clear: both;
  padding-top: 2vh;
}

.world p {
  width: 70vw;
  margin: auto;
}

.world img {
  width: 700px;
}

.hands img {
  float: left;
  margin-left: 7vw;
  padding-bottom: 2vh;
  width: 300px;
}

.hands p {
  float: right;
  margin-right: 10vw;
  width: 20rem;
}

