.Home {
  p {
    font-size: 30px;
  }

  span {
    font-size: 20px;
    margin-left: 20px;
  }
}

.welcome {
  width: 70vw;
  margin: 5vh auto;
  color: black;
}

.quote {
  font-style: italic;
  color: green;
}

.national, .world, .hands {
  clear: both;
  margin: 10vh auto;
  padding: 10vh 0;
  width: 70vw;
}

.national {
  img {
    float: right;
    width: 300px;
  }

  p {
    margin-top: 5vh;
    float: left;
    width: 30rem;
  }
}

.world {
  clear: both;
  padding-top: 2vh;

  p {
    width: 70vw;
    margin: auto;
  }

  img {
    width: 700px;
  }
}

.hands {
  img {
    float: left;
    margin-left: 7vw;
    padding-bottom: 2vh;
    width: 300px;
  }

  p {
    float: right;
    margin-right: 10vw;
    width: 20rem;
  }
}