.Gatherings {
  margin: auto;
  width: 70vw;

  h2 {
    padding: 0;
    margin: 0;
  }

  section {
    float: left;
    margin-top: 10vh;
    width: auto;
    text-align: left;
    font-size: 15px;
  }

  aside {
    float: right;
    text-align: left;
    margin: 10vh auto;
    width: auto;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      padding: 1vh;
    }
  }

  a, a:visited {
    text-decoration: none;
    color: green;
  }

  a:hover {
    color: rgb(9, 177, 9);
  }
}