body {
  text-align: center;
  margin: auto;
}

aside img {
  width: 300px;
  margin-top: 10vh;
}

.belief {
  margin: auto;
  margin-top: 10vh;
  margin-left: 14vw;
  width: 30vw;
  float: left;
  text-align: left;
}

aside {
  margin: auto;
  margin-top: 10vh;
  margin-right: 15vw;
  width: 20vw;
  float: right;
}

ul {
  text-align: left;
}

ul li {
  padding: 1vh;
}

aside ul li {
  list-style: none;
}

section ul li {
  color: rgb(9, 177, 9);
}

a, a:visited {
  text-decoration: none;
  color: green;
}

a:hover {
  color: rgb(9, 177, 9);
}

p {
  font-size: 20px;
}