.Belief {
  width: 70vw;
  margin: auto;
}

.Belief h1 {
  margin-top: 0;
}

.Belief aside img {
  width: 300px;
  margin-top: 10vh;
  display: block;
}

.Belief section {
  margin: auto;
  margin-top: 10vh;
  width: 40vw;
  float: left;
  text-align: left;
}

.Belief aside {
  margin: 10vh auto;
  width: 25vw;
  float: right;
  text-align: left;
}

.Belief ul {
  text-align: left;
}

.Belief ul li {
  padding: 1vh;
}

.Belief aside ul {
  padding: 0;
}

.Belief aside ul li {
  list-style: none;
}

.Belief section ul li {
  color: black;
}

.Belief a, .Belief a:visited {
  text-decoration: none;
  color: green;
}

.Belief a:hover {
  color: rgb(9, 177, 9);
}

.Belief p {
  font-size: 20px;
}